.home-wrap {
  .back-image-wrap {
    img {
      width: 100%;
      display: block;
    }
    .mob-skelton {
      padding-top: 63px;
    }
    .movie-info-box {
      color: white;
      padding: 12px;

      .movie-info {
        width: 100%;

        .title {
          font-weight: bold;
          margin-bottom: 6px;
        }
        .overview {
          font-size: 12px;
          display: -webkit-box;
          word-wrap: break-word;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .btn-box {
        margin-top: 6px;
        .detail-btn {
          border: none;
          cursor: pointer;
          color: white;
          padding: 8px;
          background-color: rgba($color: #fff, $alpha: 0.2);
          border-radius: 4px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .home-wrap {
    .back-image-wrap {
      img {
      }
      .mob-skelton {
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-wrap {
    .back-image-wrap {
      position: relative;
      img {
      }
      .mob-skelton {
      }
      .movie-info-box {
        width: 60vw;
        position: absolute;
        bottom: 10px;
        .movie-info {
          .title {
            font-size: 24px;
          }
          .overview {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .home-wrap {
    .back-image-wrap {
      img {
      }
      .mob-skelton {
      }
      .movie-info-box {
        .movie-info {
          .title {
            font-size: 30px;
          }
          .overview {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home-wrap {
    .back-image-wrap {
      img {
      }
      .mob-skelton {
      }
      .movie-info-box {
        bottom: 136px;
        .movie-info {
          .title {
          }
          .overview {
          }
        }
      }
    }
  }
}
