// @import '/src/App.scss';
$main-back-color: #141414;
$nav-basic-color: #b3b3b3;

header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;

  .App-header {
    height: 58px;
    background-color: transparent;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;

    .left-wrap {
      display: flex;
      align-items: center;
      width: 350px;
      .fa-video {
        font-size: 30px;
        margin-right: 16px;
        color: #e50914;
      }
      .menu-wrap {
        .ic-btn {
          border: none;
          padding: 0;
          background-color: transparent;
          cursor: pointer;
          color: $nav-basic-color;

          i {
            display: block;
            font-size: 24px;
          }
        }
      }
      ul {
        display: flex;
        font-weight: bold;
        width: 100%;
        justify-content: space-between;
        .nav-tab {
          color: $nav-basic-color;
        }
        .active {
          color: #fff;
        }
      }
    }

    .right-wrap {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .search-wrap {
        width: 180px;
        overflow: hidden;
        position: relative;
        height: 28px;

        .search-bar {
          display: flex;
          background-color: transparent;
          border: 1px solid transparent;
          position: absolute;
          left: 159px;
          transition: all 1s;

          .toggle-btn {
            border: none;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            margin-left: 2px;
            .fa-search {
              display: block;
              font-size: 19px;
              color: $nav-basic-color;
            }
            .fa-search:hover {
              color: #fff;
            }
          }

          form {
            input {
              display: block;
              border: none;
              padding: 5px 2px 5px 3px;
              width: 100%;
              background-color: transparent;
              caret-color: #fff;
              color: #fff;
            }
            input:focus {
              outline: none;
            }
          }
        }

        .active {
          background-color: $main-back-color;
          border: 1px solid red;
          left: 0px;
        }
      }

      .my-list {
        margin-left: 12px;

        .fa-heart {
          color: $nav-basic-color;
        }

        .fa-heart:hover {
          color: #fff;
        }
      }
    }
    .mob-nav-wrap {
      width: 100%;
      position: absolute;
      top: 68px;
      left: 0px;
      background-color: rgba(1, 1, 1, 0.3);

      ul {
        font-weight: bold;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          visibility: hidden;
          height: 0px;
          opacity: 0;
          transition: all 0.5s;
        }
        .nav-tab {
          color: $nav-basic-color;
        }
        .active {
          color: #fff;
        }
        .mob-nav-active {
          visibility: visible;
          height: 32px;
          opacity: 1;
        }
      }
    }
  }
}

.header-back-color {
  background-color: rgba(20, 20, 20, 1);
}

@media screen and (min-width: 576px) {
  header {
    .App-header {
      max-width: 540px;
      .left-wrap {
        .fa-video {
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .App-header {
      max-width: 720px;
      .left-wrap {
        .fa-video {
          font-size: 48px;
          margin-right: 25px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  header {
    .App-header {
      max-width: 960px;
      .left-wrap {
        .fa-video {
          font-size: 48px;
          margin-right: 25px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    .App-header {
      max-width: 1170px;
      .left-wrap {
        .fa-video {
          font-size: 48px;
          margin-right: 25px;
        }
      }
    }
  }
}
