header {
  // padding: 10px 0;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba($color: #141414, $alpha: 0.8);
  z-index: 10;
  transition: all 1s;
  .mob-wrap {
    display: flex;
    height: 58px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    .menu {
      flex: 1;
      button {
        border: none;
        background-color: transparent;
        padding: 0;

        i {
          display: block;
          color: #b3b3b3;
          font-size: 24px;
        }
      }
    }
    .home {
      flex: 1;
      display: flex;
      justify-content: center;
      i {
        color: #e50914;
        font-size: 30px;
      }
    }
    .search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      button {
        border: none;
        background-color: transparent;
        padding: 0;
      }
      i {
        display: block;
        color: #b3b3b3;
        font-size: 22px;
      }
      .my-list {
        margin-left: 5px;
      }
    }
  }
  .pc-wrap {
  }
}

.header-hide {
  top: -58px;
}

@media screen and (min-width: 576px) {
  header {
    .mob-wrap {
      .menu {
        button {
          i {
          }
        }
      }
      .home {
        i {
        }
      }
    }
    .pc-wrap {
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .mob-wrap {
      .menu {
        button {
          i {
          }
        }
      }
      .home {
        i {
          font-size: 48px;
        }
      }
    }
    .pc-wrap {
    }
  }
}

@media screen and (min-width: 992px) {
  header {
    .mob-wrap {
      .menu {
        button {
          i {
          }
        }
      }
      .home {
        i {
        }
      }
    }
    .pc-wrap {
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    .mob-wrap {
      .menu {
        button {
          i {
          }
        }
      }
      .home {
        i {
        }
      }
    }
    .pc-wrap {
    }
  }
}
