$main-back-color: #141414;

.mob-header {
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  transition: all 0.5s;
  padding-left: 30px;
  padding-right: 30px;

  .header-items {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .left-wrap {
      display: flex;
      align-items: center;

      .nav-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        color: #b3b3b3;
        margin-right: 16px;

        i {
          color: #b3b3b3;
          font-size: 28px;
        }
      }
      .main-ic {
        i {
          font-size: 36px;
          color: #e50914;
        }
      }
    }
    .right-wrap {
      color: white;
      form {
        input {
          width: 140px;
          display: block;
          background-color: transparent;
          caret-color: #fff;
          color: #fff;
          border: 1px solid #fff;
          font-size: 16px;
          padding: 4px 8px;
        }
      }
    }
    .nav-dropdown {
      position: absolute;
      top: 64px;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 140px;
      justify-content: space-between;
      padding: 10px 0px;
      li {
        .nav-tab {
          color: #b3b3b3;
        }
        .active {
          color: #fff;
        }
      }
    }
  }

  &.hide {
    top: -64px;
  }
}

.pc-header {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .mob-header {
    padding-left: 60px;
    padding-right: 60px;
    .header-items {
      .left-wrap {
        .main-ic {
          i {
            font-size: 48px;
          }
        }
        ul {
          display: flex;
          width: 340px;
          justify-content: space-between;
          padding-left: 30px;
          li {
            .nav-tab {
              color: #b3b3b3;
            }
            .active {
              color: #fff;
            }
          }
        }
      }
      .right-wrap {
        form {
          input {
            width: 190px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
