.slider-wrap {
  ul {
    overflow-x: scroll;
    white-space: nowrap;
    li {
      width: 25%;
      display: inline-block;
      padding-right: 10px;
      padding: 0 0.6vw;
      img {
        width: 100%;
      }
      .custom-sk {
        width: 100%;
        height: 162px;
      }
      &:last-child {
        // padding-right: 0;
      }
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      background-color: transparent;
      padding: 0;
      color: #b3b3b3;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .slider-wrap {
    ul {
      li {
        // width: 20%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
