.slider-wrap {
  .slick-list {
    overflow: visible;
    .slick-slide {
      // visibility: hidden;
      // pointer-events: none;
    }
    .slick-active {
      // visibility: visible;
      // pointer-events: visible;
    }
  }
  .poster-box {
    padding: 0px 0.6vw;
    position: relative;
    .img-link {
      display: block;
      // pointer-events: none;
      &:hover {
        transform: scale(1.2);
        position: absolute;
        z-index: 1;
        top: -10px;
      }
      img {
        width: 100%;
      }
    }

    &.skel {
      .custom-sk {
        height: 162px;
      }
    }
  }

  .slick-arrow {
    bottom: -32px;
    z-index: 1;
    top: auto;
    &.slick-prev {
      left: 0px;
    }
    &.slick-next {
      right: 0;
    }
  }

  .slick-dots {
    li {
      margin: 0 0px;
      button {
        &::before {
          color: rgba($color: white, $alpha: 0.5);
        }
      }
      &.slick-active {
        button {
          &::before {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .slider-wrap {
    .poster-box {
      &.skel {
        .custom-sk {
          height: 191px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .slider-wrap {
    .poster-box {
      &.skel {
        .custom-sk {
          height: 200px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .slider-wrap {
    .poster-box {
      &.skel {
        .custom-sk {
          height: 220px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .slider-wrap {
    .poster-box {
      &.skel {
        .custom-sk {
          height: 266px;
        }
      }
    }
  }
}
