body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
header,
nav,
input {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  display: block;
}

/* input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::-ms-clear {
  display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-out-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
